.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  color: #ddd;
  min-height: 200px;

  .icon-container {
    font-size: 2em;
  }
  span {
    margin-left: 0.5em;
  }
}