.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: bold;
  color: rgba(255,255,255,0.15);
  min-height: 200px;

  .icon-container {
    font-size: 2em;
  }
  span {
    margin-left: 0.5em;
  }
}