.celebs-list-contianer {
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em;

  .celebs-list {
    .celeb-container {
      display: flex;
      padding: 1em;
      cursor: pointer;

      &:not(:last-child) {
        border-bottom: 1px solid #eee;
      }

      .celeb-image {
        img {
          width: 2.5em;
          border-radius: 3px;
        }
      }
      
      .celeb-content {
        padding-left: 0.5em;
        flex-grow: 1;

        p {
          font-size: 1em;
          margin: 0;
        }

        span {
          font-size: 0.8em;
          opacity: 0.75;
        }
      }
    }
  }
}

@supports (display: grid) {
  @media only screen and (min-width: 800px) {
    .celebs-list-contianer {
      margin-bottom: 0;
    }
  }
}