.notification-block {
  position: fixed;
  bottom: 1em;
  left: 1em;
  padding: 1em;
  background: #1e90ff;
  color: #fff;
  border-radius: 5px;
  box-shadow: 4px 22px 54px 0 rgba(0,0,0,1);
  z-index: 9999;
  display: flex;

  .icon-container {
    padding-right: 5px;
  }

  .message {
    margin: 0;
  }
}