.poll-card-container {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;
  // background: #100e17;
  color: #dfe4ea;
  position: relative;
  overflow: hidden;

  .loader {
    z-index: 1;
    display: block;
    position: absolute;
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #056EBA;
    animation: loading 2s linear infinite;
  }
  
  @keyframes loading {
      from {left: -200px; width: 30%;}
      50% {width: 30%;}
      70% {width: 70%;}
      80% { left: 50%;}
      95% {left: 120%;}
      to {left: 100%;}
  }
  
  .poll-card {
    position: relative;
    background: #17141d;
    padding: 2em;    

    .title-container {
      margin-bottom: 1em;

      p {
        margin: 0;
      }

      .title {
        font-size: 1.5em;
      }

      .sub-title {
        margin-top: 3px;
        font-size: 0.9em;

        span {
          opacity: 0.5;
        }

        .results-button {
          cursor: pointer;
          color: #32ff7d;
          opacity: 0.5;

          &:hover {
            opacity: 0.75;
            text-decoration: underline;
          }
        }        

        .clear-button {
          cursor: pointer;
          color: #e74c3c;
          opacity: 0.75;

          &:hover {
            opacity: 0.9;
            text-decoration: underline;
          }
        }
      }
    }

    .options-container {      
      .option {
        display: flex;
        padding: 0.5em 0;
        cursor: pointer;
        position: relative;
        width: 100%;

        // &:hover {
        //   background: rgba(255,255,255,0.1);
        // }

        a {
          display: block;
          width: 48px;
          height: 60px;

          img {
            width: 48px;
            height: 60px;
          }
        }

        .selected-icon-container {
          position: absolute;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 60px;
          border-right: 5px solid #056EBA;

          .icon {
            font-size: 1.5em;
            color: rgba(0,0,0,0.5);
          }
        }

        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(255,255,255,0.25);
          width: 55px;
          height: 60px;

          .icon {
            font-size: 1.5em;
            color: rgba(0,0,0,0.5);
          }
        }

        .data-container {
          width: 100%;
          // margin-left: 1em;
          position: relative;          
          display: flex;
          align-items: center;
          background: #27262E;
          overflow: hidden; 

          &:hover {
            background: rgba(255,255,255,0.15);
          }
    
          .data-block {
            width: 100%;
            margin: 0 1em;
            z-index: 1;                   

            p {
              margin: 0;
            }
      
            .title {
              font-size: 1.15em;
              max-width: calc(100% - 60px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
      
            .sub-title {
              margin-top: 3px;
              font-size: 0.9em;
              opacity: 0.6;

              span {
                padding-right: 0.5em;
              }

              .suggestion {
                font-size: 0.8em;
                opacity: 0.5;
                font-style: italic;
              }
            }
          }

          progress[value] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
          }
        }
      }

      .disabled {
        cursor: auto;
        // opacity: 0.75;
      }
    }

    .note-container {
      margin-top: 1em;
      font-size: 0.9em; 
      display: flex;
      justify-content: space-between;

      span {
        opacity: 0.35;
      }

      .note {
        text-align: right;
        opacity: 0.5;
      }
    }    
  }
}

progress[value] {
  width: 100%;
  z-index: 0;

  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  &::-webkit-progress-bar {
    background: rgba(0,0,0,0);
  }

  &::-moz-progress-bar {
    background: rgba(0,0,0,0);
  }

  &::-webkit-progress-value {
    background: rgba(5, 110, 186, 0.95);
    // opacity: 0.5;
  }

  &::-moz-progress-value {
    background: rgba(5, 110, 186, 0.95);
    // opacity: 0.5;
  }
}
