.poll-card-container {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;
  // background: #100e17;
  color: #dfe4ea;
  
  .poll-card {
    position: relative;
    background: #17141d;
    padding: 2em;

    .title-container {
      margin-bottom: 1em;

      p {
        margin: 0;
      }

      .title {
        font-size: 1.5em;
      }

      .sub-title {
        margin-top: 3px;
        font-size: 0.9em;

        span {
          opacity: 0.5;
        }

        .results-button {
          cursor: pointer;
          color: #32ff7d;
          opacity: 0.5;

          &:hover {
            opacity: 0.75;
            text-decoration: underline;
          }
        }        

        .clear-button {
          cursor: pointer;
          color: #e74c3c;
          opacity: 0.75;

          &:hover {
            opacity: 0.9;
            text-decoration: underline;
          }
        }
      }
    }

    .options-container {      
      .option {
        display: flex;
        padding: 0.5em 0;
        cursor: pointer;
        position: relative;
        width: 100%;

        // &:hover {
        //   background: rgba(255,255,255,0.1);
        // }

        a {
          display: block;
          width: 48px;
          height: 60px;

          img {
            width: 48px;
            height: 60px;
          }
        }

        .selected-icon-container {
          position: absolute;
          right: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          // background: rgba(255,255,255,0.25);
          width: 48px;
          height: 60px;
          border-right: 5px solid #056EBA;

          .icon {
            font-size: 1.5em;
            color: rgba(0,0,0,0.5);
          }
        }

        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          background: rgba(255,255,255,0.25);
          width: 55px;
          height: 60px;

          .icon {
            font-size: 1.5em;
            color: rgba(0,0,0,0.5);
          }
        }

        .data-container {
          width: 100%;
          // margin-left: 1em;
          position: relative;          
          display: flex;
          align-items: center;
          background: #27262E;
          overflow: hidden; 

          &:hover {
            background: rgba(255,255,255,0.15);
          }
    
          .data-block {
            width: 100%;
            margin: 0 1em;
            z-index: 1;                   

            p {
              margin: 0;
            }
      
            .title {
              font-size: 1.15em;
              max-width: calc(100% - 60px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
      
            .sub-title {
              font-size: 0.9em;
              opacity: 0.6;

              span {
                padding-right: 0.5em;
              }

              .suggestion {
                font-size: 0.8em;
                opacity: 0.5;
                font-style: italic;
              }
            }   
            
            input {
              border: 0;
              border-bottom: 2px solid rgba(255,255,255,0.25);
              width: calc(100% - 1em);
              background: rgba(255,255,255,0);
              color: #dfe4ea;
              font-size: 1.1em;
              padding: 0.5em;
            }
          }

          progress[value] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
          }
        }

        .hits-container {
          position: absolute;
          top: 70px;
          left: 0;
          width: 100%;
          background: #27262E;
          z-index: 5;
          max-height: 200px;
          overflow-y: auto;
          box-shadow: 4px 22px 54px 0 rgba(0,0,0,1);

          .hit {
            display: flex;
            align-items: center;
            padding: 0.5em 1em;

            &:hover {
              background: rgba(255,255,255,0.15);
            }

            img {
              width: 30px;
              height: auto;
              padding-right: 0.75em;
            }
          }

          .attribution {
            padding: 1em;

            img {
              width: auto;
              height: 20px;
            }
          }
        }
      }

      .disabled {
        cursor: auto;
        // opacity: 0.75;
      }
    }

    .note-container {
      margin-top: 1em;
      opacity: 0.5;
      font-size: 0.9em; 

      .note {
        padding-left: 5px;
      }
    }    
  }
}

progress[value] {
  width: 100%;
  z-index: 0;

  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  &::-webkit-progress-bar {
    background: rgba(0,0,0,0);
  }

  &::-moz-progress-bar {
    background: rgba(0,0,0,0);
  }

  &::-webkit-progress-value {
    background: rgba(50, 255, 126, 0.5);
    // opacity: 0.5;
  }

  &::-moz-progress-value {
    background: rgba(50, 255, 126, 0.5);
    // opacity: 0.5;
  }
}
