.rate-container {
  color: #dfe4ea;

  .hero {
    background-image: url("../../assets/hero-bg.svg");
    background-size: cover;
    color: #fff;
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(16, 14, 23, 0.15) 0%, #100e17 100%);
    }

    .hero-body {
      max-width: 1240px;
      margin: 0 auto;
      margin-top: 50px; // Menu height
      padding: 2em 2.5%;
      color: #a4b0be;
      z-index: 1;
      font-size: 0.85em;
      width: 100%;

      .title {
        font-size: 2em;
        font-weight: 500;
        margin: 0;
        opacity: 0.9;
      }

      .sub-title {
        opacity: 0.9;
        font-weight: 300;
        line-height: 1.5em;        

        span {
          color: #32ff7e;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .body {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1em 2.5%;
    margin-top: -2em;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    .hero .hero-body {
      font-size: 1em;
    }
  }
}
