.home-container {
  .hero {
    margin-top: 3.4em;
    color: #DFE4EA;
    display: flex;
    justify-content: center;
  
    .hero-body {
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 3.4em; // Menu Height
      padding: 2em 2.5%;
      max-width: 500px;
  
      .title {
        font-size: 2em;
        font-weight: 700;
        margin: 0;
        opacity: 0.75;
      }

      .sub-title {
        opacity: 0.5;
      }
    }
  }

  .home-section {
    padding: 1em 2.5%;

    .block {
      margin-bottom: 1em;

      .title {
        font-size: 1.25em;
        // font-weight: bold;
        color: #DFE4EA;
      }

      .box-container {
        width: 100%;

        .box {
          position: relative;
          display: inline-block;
          width: calc((100% - 1em) / 2);
          margin-top: 0.75em;
          text-decoration: none;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;

          &:nth-child(odd) {
            margin-right: 1em;
          }

          .name-container {
            margin: 0;
            padding: 0.5em;
            background: rgba(0,0,0,0.7);
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
              padding: 1em;
              color: #DFE4EA;
              font-size: 1.5em;
              font-weight: 500;
            }
          }

          .image-container {
            width: 100%;
            padding-bottom: 50%;
            position: relative;
            background: #fff;

            .image-wrapper {
              position: absolute;
              top: 0; bottom: 0; left: 0; right: 0;
              text-align: center;

              img {
                width: 100%;
                height: 100%;
                border-radius: 2.5px;
              }
            }
          }
        }
      }
    }

    .genre-block {
      .genre-list-container {
        margin-top: 1em;
        display: flex;
        flex-wrap: wrap;

        .genre-card-container {
          cursor: pointer;
          background: rgba(255, 255, 255, 0.05);
          margin: 0.25em 0.5em 0.25em 0;
          border-radius: 2px;
          box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;

          &:hover {
            background: rgba(255, 255, 255, 0.15);
          }

          .genre-card {
            text-decoration: none;
            color: #DFE4EA;

            p {
              opacity: 0.75;
              margin: 0;
              text-transform: capitalize;
              padding: 0.5em;

              .icon {
                color: #DFE4EA;
              }
            }
          }
        }
      }
    }
  }
}

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  .home-container {
    .hero .hero-body {
      max-width: 1240px;
      margin: 0 auto;
      padding: 2em 2.5%;
    }
    
    .home-section {
      max-width: 1240px;
      margin: 0 auto;
      padding: 2em 2.5%;

      .block {
        // padding: 2em;
        margin-bottom: 2em;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .home-container {
    .home-section {
      .block {
        .box-container {
          .box {
            width: calc((100% - 3em) / 4);

            &:not(:last-child) {
              margin-right: 1em;
            }
          }
        }
      }
    }
  }
}
