.title-block {
  padding-bottom: 1rem;
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: inline;
    color: #444;
  }
  .subtitle {
    font-size: 1rem;
    color: #555;
    display: inline;
  }
}