.content {
  background: #f2f2f2;

  .hero {
    background: #0a1016;
    width: 100%;
    height: 500px;
    position: relative;
    clip-path: inset(0px 0px 0px 0px);
    z-index: 0;

    img {
      transform: scale(2);
      position: fixed;
      width: 100%;
      height: auto;
      filter: blur(10px);
    }

    .overlay-gradient {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: auto;
      background: linear-gradient(to bottom, rgba(10, 16, 22, 0.75) 0%, rgba(10, 16, 22, 1) 100%);
    }
  }

  .content-section {
    background: #f2f2f2;
    margin-top: -400px;
    padding: 0 2.5%;
    z-index: 1;

    .left-section {
      width: 100%;
      display: flex;
      justify-content: center;

      .info-container {
        display: none;
      }
    }

    .right-section {
      .title-container {
        padding-bottom: 1.5em;
      }

      .info-container {
        padding-top: 1em;
        display: block;
      }

      .items-container {
        padding-bottom: 1em;
        
        .item {
          &:last-child {
            margin-top: 1em;   
          }
        }

        .chart-block {
          margin-top: 1em;
        }
      }
    }
  }

  .review-container {
    background: #fff;
    color: #222;
    max-height: 500px;
    overflow: auto;

    .title-container {
      display: flex;
      padding: 1em;

      img {
        width: 50px;
        height: 60px;
      }

      .title-section {
        padding-left: 0.5em;

        p {
          margin: 0;
        }

        .title {
          font-size: 1.5em;
          font-weight: bold;
          margin: 0;
          text-overflow: ellipsis;
        }

        .sub-title {
          padding-top: 0.25em;
          color: #aaa;
        }
      }
    }

    .rating-container {
      text-align: center;
      border: 1px solid #f0f0f0;

      .stars-container {
        display: block;

        .stars {
          font-size: 1em;
        }
      }
    }

    .ques-row {
      display: flex;
      text-align: center;
      border-bottom: 1px solid #f0f0f0;

      .ques-section {
        padding: 1em 1em 2em 1em;
        flex-grow: 1;
        flex-basis: 0;

        &:last-child {
          border-left: 1px solid #f0f0f0;
        }
    
        .ques {
          color: #555;
          font-weight: bold;
          text-transform: capitalize;
          padding: 0.5em;
          border-bottom: 1px solid #f0f0f0;
        }
    
        .options {
          display: flex;
          justify-content: center;
    
          .option {
            font-size: 0.9em;
            text-transform: capitalize;
            cursor: pointer;
            flex-grow: 1;
            flex-basis: 0;
    
            &:last-child {
              border-left: 1px solid #f0f0f0;
            }
  
            input {
              display: none;
            }
  
            input[type="radio"]:checked+label {
              background: #3498db;
              color: #fff;
              opacity: 1;
            } 
  
            label {
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 1em 0.5em;
              cursor: pointer;
              opacity: 0.5;
              text-align: center;

              .icon {
                font-size: 1.5em;
              }

              p {
                margin: 0;
                padding-top: 0.5em;
              }
            }

            label:hover {
              opacity: 1;
            }
          } 
        }
      }
    }
  
    .buttons-section {
      display: flex;
  
      button {
        cursor: pointer;
        flex-grow: 1;
        flex-basis: 0;
        padding: 1em;
        background: #fff;
        border: 0;
        font-size: 1em;
        color: #2ecc71;
        text-transform: capitalize;
        font-weight: bold;
  
        &:last-child {
          opacity: 0.8;
          border-left: 1px solid #f0f0f0;
          color: #f06060;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .content {
    .hero {
      height: 300px;
    }

    .content-section {
      max-width: 1240px;
      margin: 0 auto;
      margin-top: -10em;
      display: flex;

      .left-section {
        width: 20%;
        min-width: 200px;
        padding-right: 2em;
        flex-direction: column;
        justify-content: flex-start;

        .info-container {
          margin-left: 3px;
          margin-right: -3px;
          display: block;
        }
      }

      .right-section {
        flex-grow: 1;

        .title-container {
          padding-bottom: 2.5em;
        }

        .info-container {
          display: none;
        }

        
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    .content-section {
      .right-section {
        .items-container {
          display: flex;

          .item {
            flex-grow: 1;
            width: 100%;

            &:first-child {
              margin-right: 0.5em;
            }

            &:last-child {
              margin-top: 0;
              margin-left: 0.5em;
            }
          }

          .chart-block {
            margin-top: 0em;
          }
        }
      }
    }
  }
}
