.list-container {
  margin: 0 -0.5em;
  color: #DFE4EA;

  .title-container {
    display: flex;
    justify-content: space-between;

    .title-block {
      margin: 0.5em;
  
      p {
        margin: 0;
      }
  
      .title {
        font-size: 1.25em;
        font-weight: bold;
  
        span {
          font-size: 0.75em;
          color: #A4B0BE;
          font-weight: normal;
        }
      }
  
      .count {
        font-size: 0.85em;
        color: #A4B0BE;
      }
    }
  
    .views-block {
      display: none;
    }
  }

  .list-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .list-item {
      width: calc(100% / 2 - 1em);
      padding: 0.5em;
    }
  }

  .table-block {
    display: none;
  }

  .loading {
    text-align: center;
    color: #DFE4EA;
  
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media only screen and (min-width: 800px) {
  .list-container {
    .title-container {
      .views-block {
        display: flex;
        margin-right: 0.5em;
        align-self: center;
  
        .icon-container {
          cursor: pointer;
          // margin: 0.75em 0;
          padding: 0.25em 0.5em;
          border: 1px solid #DFE4EA;
          border-radius: 3px;
          display: flex;
  
          &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
  
          &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
  
          .icon {
            align-self: center;
            margin: 0;
            font-size: 1.1em;
          }
        }
  
        .active {
          background: #DFE4EA;
          color: #27262E;
        }
      }
    }

    .table-block {
      display: block;
      padding: 1em 0;
  
      table {
        width: 100%;
        border-collapse:collapse;
  
        thead {
          .title {
            text-align: left;
          }
  
          th {
            padding: 1em;
          }
        }
  
        tbody {
          tr {
            border: none;
            border-top: 1px solid #27262E;
            text-align: center;
  
            &:hover{
              background: rgba(255,255,255,0.05);              
            }
  
            .poster {
              cursor: pointer;
              width: 50px;
              padding: 10px;
  
              img {
                width: 100%;
              }
            }

            .button {
              width: 75px;
              padding: 0.5em 1em;
              border: 1px solid rgba(255, 255, 255, 0.1);
              border-radius: 3px;
              cursor: pointer;
              font-size: 0.85em;

              &:hover {
                background: rgba(255, 255, 255, 0.05);
              }
        
              &:not(:last-child) {
                margin-right: 1em;
              }
        
              .icon {
                padding-right: 0.25em;
              }
            }

            .favorites-button {
              .active {
                color: #FC5C65;
              }
            }
        
            .bookmark-button {
              .active {
                color: #54a0ff;
              }
            }
        
            .review-button {
              .active {
                color: #32ff7e;
              }
            }
  
            .title {
              cursor: pointer;
              text-align: left;
              width: 25%;

              a {
                text-decoration: none;
                color: #32ff7e;
              }

              &:hover {
                text-decoration: underline;
              }
            }

            .user-rating {
              color: #32ff7e;
            }

            .rating {
              color: #f1c40f;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) {
  .list-container .list-block .list-item {
    width: calc(100% / 3 - 1em);
  }
}

@media only screen and (min-width: 700px) {
  .list-container .list-block .list-item {
    width: calc(100% / 4 - 1em);
  }
}

@media only screen and (min-width: 850px) {
  .list-container .list-block .list-item {
    width: calc(100% / 5 - 1em);
  }
}

@media only screen and (min-width: 1100px) {
  .list-container .list-block .list-item {
    width: calc(100% / 6 - 1em);
  }
}

@media only screen and (min-width: 1250px) {
  .list-container .list-block .list-item {
    width: calc(100% / 7 - 1em);
  }
}
