.poster-container {
  position: relative;
  width: 150px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 4px 22px 54px 0 rgba(0,0,0,1);
  }

  .img-holder {
    background: rgba(255,255,255,0.05);
    width: 100%;
    height: 200px;
  }

  .stars-container {
    width: 100%;
    position: relative;
    background: #0b0910;
    text-align: center;
  }
}

@media only screen and (min-width: 800px) {
  .poster-container {
    width: 100%;

    .img-holder {
      height: 250px;
    }
  }
}
