.navbar {
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: background-color .2s;

  .navbar-container {
    display: flex;
    padding: 0 2.5%;
    flex-direction: row;
    max-width: 1240px;
    margin: 0 auto;

    .navbar-brand {
      padding: 0.75em 0.75em 0.75em 0;
  
      .navbar-item {
        color: #f06060;
        font-size: 1.5em;
        font-weight: 700;
      }
    }
  
    .navbar-menu {
      font-size: 1em;
      font-weight: 300;
      z-index: 1;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
  
      .navbar-start {
        flex-grow: 1;
        align-self: center;
        display: flex;
        justify-content: flex-start;
      }
  
      .navbar-end {
        align-self: center;
      }
  
      .navbar-item {
        text-transform: capitalize;
        padding: 0.75em;

        .icon-container {
          font-size: 1.5em;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .desktop {
      display: none;
    }
  
    .navbar-item {
      cursor: pointer;
      text-decoration: none;
      color: #fff;
    }
  }

  .navbar-side-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: rgba(0,0,0,0.75);

    .navbar-item-container {
      position: relative;
      min-width: 40%;
      max-width: 60%;
      height: 100vh;
      background: #191919;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;

      .navbar-item {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        padding: 1em;
        display: block;
        border-bottom: 1px solid #222;
      }
    }
  }

  .active {
    display: block;
  }
}

.white-bg {
  background: rgba(255, 255, 255, 0.99);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;

  .navbar-container {
    .navbar-item {
      color: #444;
    }
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    .navbar-container {
      .desktop {
        display: flex;
      }
      .mobile {
        display: none;
      }
    }

    .navbar-side-menu {
      display: none;
    }
  }
}