.navbar {
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: background-color .2s;

  .navbar-container {
    display: flex;
    padding: 0 2.5%;
    flex-direction: row;
    max-width: 1240px;
    margin: 0 auto;

    .navbar-brand {
      padding: 0.75em 0.75em 0.75em 0;
  
      .navbar-item {
        display: flex;
        flex-direction: row;

        .logo {
          width: 30px;

          img {
            width: 100%;
          }
        }

        .title {
          align-self: center;
          padding-left: 7.5px;
          color: #FF6F69;
          font-size: 1.5em;
          font-weight: 700;
        }
      }
    }
  
    .navbar-menu {
      font-size: 1em;
      font-weight: 300;
      z-index: 1;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
  
      .navbar-start {
        flex-grow: 1;
        align-self: center;
        display: flex;
        justify-content: flex-start;

        .navbar-bucket {
          position: relative;
          text-align: center;
          text-transform: capitalize;
          padding: 0.75em;
          cursor: pointer;
          text-decoration: none;
          color: #fff;
          border: 2px solid transparent;

          &:hover {
            border-bottom: 2px solid #f06060;
          }

          &:hover > .navbar-bucket-items {
            display: flex;
          }

          .navbar-bucket-items {
            background: #fff;
            position: absolute;
            top: 41.5px;
            left: 0;
            display: none;
            flex-direction: column;
            box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);

            &:hover {
              display: flex;
            }
            
            .navbar-bucket-item {
              text-align: left;
              width: 125px;
              padding: 1em;
              text-decoration: none;
              font-size: 0.9em;
              color: #222;

              &:hover {
                background: #f0f0f0;
              }
            }
          }
        }
      }
  
      .navbar-end {
        flex-grow: 1;
        align-self: center;
        display: flex;
        justify-content: flex-end;

        .navbar-bucket {
          position: relative;
          cursor: pointer;
          text-decoration: none;

          &:hover > .navbar-bucket-items {
            display: flex;
          }

          .navbar-item {
            display: flex;

            .img-holder {
              background: rgba(255,255,255,0.75);
              border-radius: 50px;
              margin: 0.5em;
              
              img {
                padding: 0 2.5px;
                width: 27.5px;
                height: 27.5px;
              }
            }

            .icon {
              margin-left: -2.5px;
              font-size: 1em;
              color: #ccc;
              align-self: center;
            }
          }

          .navbar-bucket-items {
            background: #fff;
            position: absolute;
            top: 42.5px;
            right: 0;
            display: none;
            flex-direction: column;
            box-shadow: 0 5px 15px 0 rgba(37,44,97,0.15), 0 2px 4px 0 rgba(93,100,148,0.2);

            &:hover {
              display: flex;
            }
            
            .navbar-bucket-item {
              text-align: center;
              width: 125px;
              padding: 1em;
              text-decoration: none;
              font-size: 0.9em;
              color: #222;

              &:hover {
                background: #f0f0f0;
              }

              &:last-child {
                border-top: 1px solid #ccc;
              }
            }
          }
        }

        .navbar-button {
          padding: 0.5em 1em;
          background: rgba(255,255,255,0.5);
          align-self: center;
          text-decoration: none;
          color: #111;
          font-size: 0.9em;
          border-radius: 3px;
        }
      }
  
      .navbar-item {
        .icon-container {
          font-size: 1.5em;
        }
      }
    }

    .desktop {
      display: none;
    }
  
    .navbar-item {
      cursor: pointer;
      text-decoration: none;
      color: #fff;
    }
  }

  .sub-navbar-container {
    background: #fff;
    padding: 0 2.5%;

    .sub-navbar-menu {
      display: flex;
      margin-left: 90px;

      .navbar-item {
        cursor: pointer;
        text-decoration: none;
        text-transform: capitalize;
        padding: 0.75em;
        color: #444;
      }
    }
  }

  .navbar-side-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    background: rgba(44, 44, 49, 0.75);

    .navbar-item-container {
      position: relative;
      width: 275px;
      height: 100vh;
      background: #232229;
      box-shadow: -1em 0 4em #000;

      .navbar-item {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        padding: 1em;
        display: block;
        text-transform: capitalize;

        &:hover {
          background: #2f2e37;
        }
      }

      .brand {
        color: #f06060;
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 1px solid #2f2e37;
        padding: 0.75em;
      }

      .sub {
        padding-left: 2.5em;
        font-size: 0.9em;
        background: #27262e;

        .icon {
          padding-right: 0.1em;
        }
      }

      .log {
        border-top: 1px solid #2f2e37;
        border-bottom: 1px solid #2f2e37;
      }

      .title-container {
        display: flex;
        border-bottom: 1px solid #2f2e37;
        padding: 1.25em 1em;

        .img-holder {
          img {
            background: #fff;
            border-radius: 3px;
            padding: 0 2.5px;
            width: 45px;
            height: 45px;
          }
        }

        .info-block {
          margin-left: 0.5em;

          p {
            margin: 0;
            font-size: 1.25em;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .numbers-block {
            margin-top: 0.25em;

            .item {
              display: inline-block;
              margin-right: 1em;
              opacity: 0.75;
          
              .favorites-icon {
                color: #f06060;
              }
          
              .bookmark-icon {
                color: #54a0ff;
              }
          
              .rating-icon {
                color: #feca57;
              }
            }
          }
        }
      }
    }
  }

  .active {
    display: block;
  }
}

.white-bg {
  background: rgba(255, 255, 255, 0.99);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10), 0 0 0 0 #D2D2D2;

  .navbar-container {
    .navbar-item {
      color: #444;
    }
  }
}

@media only screen and (min-width: 600px) {
  .navbar {
    .navbar-container {
      .desktop {
        display: flex;
      }
      .mobile {
        display: none;
      }
    }

    .navbar-side-menu {
      display: none;
    }
  }
}