.chart-section {
  background: rgba(255,255,255,0.05);
  border-radius: 5px;
  color: white;
  
  .chart-content {
    padding: 1em;    
    display: flex;
    flex-direction: column;
    height: calc(100% - 2em);
    justify-content: space-between;

    .chart-container {
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }
}
