.celebs-list-contianer {
  background: rgba(255,255,255,0.05);;
  padding: 1em;
  border-radius: 5px;

  .celebs-list {
    .celeb-container {
      display: flex;
      padding: 1em;
      cursor: pointer;
      color: #dfe4ea;

      &:not(:last-child) {
        border-bottom: 1px solid #27262E;
      }

      .celeb-image {
        img {
          width: 2.5em;
          border-radius: 3px;
        }
      }
      
      .celeb-content {
        padding-left: 0.5em;
        flex-grow: 1;

        p {
          font-size: 1em;
          margin: 0;
        }

        span {
          font-size: 0.8em;
          opacity: 0.75;
        }
      }
    }
  }
}