.celebs-overview-block {
  padding: 1.5em;
  background: #ffffff;
  .celeb-container {
    cursor: pointer;
    width: 15rem;
    overflow: hidden;
    figure {
      img {
        width: 2.5rem;
        border-radius: 3px;
      }
    }
    .celeb-content {
      p {
        font-size: 0.85rem;
      }
      span {
        font-size: 0.75rem;
        opacity: 0.75;
      }
    }
  }
}