.title-block {
  padding-bottom: 1rem;
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: inline;
    color: #444;
  }
  .subtitle {
    font-size: 0.9rem;
    padding-left: 0.5em;
    color: #777;
    display: inline;
  }
}