.title-block {
  padding-bottom: 1rem;
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    display: inline;
    color: #dfe4ea;
  }
  .subtitle {
    font-size: 0.9rem;
    padding-left: 0.5em;
    color: #A4B0BE;
    display: inline;
  }
}