table {
  td {
    border: none;
  }
  .value {
    vertical-align: middle;
  }
}

.attributes-container {
  display: flex;
  flex-direction: column;
  color: #838C98;

  .attributes-item {
    flex-grow: 1;
    background: rgba(255,255,255,0.05);
    padding: 1em;
    border-radius: 5px;

    &:last-child {
      margin-top: 1em;
    }

    .attribute-row {
      display: flex;
      padding-bottom: 0.5em;

      .name {
        width: 4em;
        padding-left: 1em;
      }

      .progress-container {
        display: flex;
        flex-grow: 1;
      }
    }
  }
}
