table {
  td {
    border: none;
  }
  .value {
    vertical-align: middle;
  }
}

.attributes-container {
  display: flex;
  flex-direction: column;

  .attributes-item {
    flex-grow: 1;
    background: #fff;
    padding: 1em;

    &:last-child {
      margin-top: 1em;
    }

    .attribute-row {
      display: flex;
      padding-bottom: 0.5em;

      .name {
        width: 4em;
        padding-left: 1em;
      }

      .progress-container {
        display: flex;
        flex-grow: 1;
      }
    }
  }
}
