
.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

progress[value] {
  width: 100%;
  height: 0.5em;

  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;

  &::-webkit-progress-bar {
    background: #ecf0f1;
    border-radius: 2px;
  }

  &::-moz-progress-bar {
    background: #ecf0f1;
    border-radius: 2px;
  }

  &::-webkit-progress-value {
    background: #f06060;
    border-radius: 2px;
  }

  &::-moz-progress-value {
    background: #f06060;
    border-radius: 2px;
  }
}

.level {
  width: 100%;
  display: flex;

  .level-left {
    flex-grow: 1;
    border-right: 2px solid #95a5a6;
    padding: 0.25rem 0;
    
    progress[value] {    
      &::-webkit-progress-value {
        float: right;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    
      &::-moz-progress-value {
        float: right;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .level-right {
    flex-grow: 1;
    progress[value] {
      &::-webkit-progress-value {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    
      &::-moz-progress-value {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}