.celeb-wrapper {
  .hero {
    background-image: url("../../assets/hero-bg5.jpg");
    background-size: cover;
    position: relative;
    clip-path: inset(0 0 0 0);
    display: flex;
    justify-content: center;

    .hero-body {
      padding: 10vh 0;
      color: #fff;
      text-align: center;
  
      .title {
        font-size: 1.1em;
        font-weight: bold;
        margin: 0;
        padding-top: 1em;
      }
  
      img {
        border: 3px solid white;
        border-radius: 1.5px;
      }
    }
  }

  .list {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2.5%;
  }
}