.movie-card {
  width: 100%;
  height: 100%;

  .image-wrapper {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      border-radius: 2.5px;
    }
  }
  
  .image-wrapper::after {
    box-shadow: inset -5px -50px 100px -15px #000000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
  
  .rating {
    position: absolute;
    left: 0;
    bottom:0;
    color: gold;
    padding: 1rem;
    opacity: 0.75;
  
    span {
      color: white;
    }
  }
}
