.content {
  .hero {
    background-image: url("../../assets/hero-bg5.jpg");
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 60vh;

    .hero-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .title {
        font-size: 3em;
        font-weight: 700;
        margin: 0;
        opacity: 0.9;
      }
    }
  }

  .carousels {
    padding: 0 2.5%;
    max-width: 1240px;
    margin: 0 auto;
  }
}