.login-container {
  background-color: #100e17;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .login-holder {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url("../../assets/heros.png");
      background-repeat: repeat repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-5deg) scale(1.5);
      animation: move 45s 1 alternate;
    }

    @keyframes move {
      0%{
        background-position: 0% 0%;
        transform: rotate(-5deg) scale(1.5) translateX(5%);
      }
      33%{
        background-position: 100% 0%;
        transform: rotate(-5deg) scale(1.5) translateX(0%);
      }
      66%{
        background-position: 0% 100%;
        transform: rotate(-5deg) scale(1.5) translateX(5%);
      }
      100%{
        background-position: 100% 100%;
        transform: rotate(-5deg) scale(1.5) translateX(0%);
      }
    } 

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(16, 14, 23, 0.75);
      z-index: 1;
    }
    
    .login-block {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      
      .login {
        border-radius: 5px;
        text-align: center;
        padding: 2em;
        background: rgba(0, 0, 0, 0.5);
        min-width: 300px;
        
        &::before {
          filter: blur(100px);
        }

        p {
          z-index: 2;
          font-weight: bold;
          font-size: 1.25em;
          color: #dfe4ea;
        }
      }
    }
  }
}