.footer {
  background: #17141d;
  // background-image: url(../../../assets/buildings.svg),linear-gradient(-180deg, #100e17 0%, #17141d 100%);
  color: #dfe4ea;
  background-position: center bottom;
  background-repeat: no-repeat;
  padding: 2em;
  text-align: center;
  margin-top: 2em;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    opacity: 0.75;

    .left-container {
      display: flex;
      align-items: center;      
      margin: 1em 0;

      .logo {
        width: 50px;

        img {
          width: 100%;
        }
      }

      .title-container {
        margin-left: 10px;        
        
        .title {
          margin-top: -0.25em;
          text-align: left;
          font-size: 2em;
          font-weight: bold;
        }

        .sub-title {
          margin-top: -0.15em;
          font-size: 0.9em;
        }
      }
    }

    .right-container {
      width: 300px;
      text-align: left;

      .links {
        display: flex;
        margin-bottom: 0.5em;      
        
        span {
          margin-right: 10px;
        }

        a {
          text-decoration: none;
          color: #32ff7e;
          margin-right: 10px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .about {
        font-size: 0.9em;
      }
    }
  }
}
