.wrapper {
  margin-top: 5em;

  .content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1em 2.5%;
    color: #DFE4EA;

    .msg {
      color: #838C98;
    }

    .block {
      margin-bottom: 2em;

      .title {
        margin: 0;
        font-size: 1.25em;

        span {
          color: #32ff7e;
        }
      }
    }
  }
}
