.list-container {
  margin: 0 -0.5em;

  .title-container {
    margin: 0.5em;

    p {
      margin: 0;
    }

    .title {
      font-size: 1.25em;
      font-weight: bold;
    }

    .count {
      font-size: 0.85em;
      color: #777;
    }
  }

  .list-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .list-item {
      width: calc(100% / 2 - 1em);
      padding: 0.5em;
    }
  }

  .loading {
    text-align: center;
    color: #ddd;
  
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media only screen and (min-width: 500px) {
  .list-container .list-block .list-item {
    width: calc(100% / 3 - 1em);
  }
}

@media only screen and (min-width: 700px) {
  .list-container .list-block .list-item {
    width: calc(100% / 4 - 1em);
  }
}

@media only screen and (min-width: 800px) {
  .list-container .list-block .list-item {
    width: calc(100% / 5 - 1em);
  }
}

@media only screen and (min-width: 1000px) {
  .list-container .list-block .list-item {
    width: calc(100% / 6 - 1em);
  }
}

@media only screen and (min-width: 1150px) {
  .list-container .list-block .list-item {
    width: calc(100% / 7 - 1em);
  }
}

// @media only screen and (min-width: 1240px) {
//   .list-container .list-block .list-item {
//     width: calc(100% / 9 - 1em);
//   }
// }