.content-container {
  .info-block {
    margin-top: 0.75rem;
    font-size: 0.8rem;
    div {
      display: inline-block;
      padding-right: 1rem;
    }
    .cert {
      background: #54a0ff;
      font-weight: bold;
      padding: 0 0.5rem;
      margin-right: 1rem;
      border-radius: 3px;
    }
  }
  .genre-block {
    margin-top: 1rem;
    .genre-list {
      list-style: none;
      li {
        display: inline;
        font-size: 0.9rem;
        padding: 0.25rem 0.5rem;
        margin-right: 0.5rem;
        background: rgba(255, 255, 255, 0.25);
        border-radius: 3px;
        cursor: pointer;
        font: 700;
      }
    }
  }
  .description-block {
    margin-top: 0.75rem;
  }
  .ratings-block {
    margin: 1rem 0;
    .rating-block {
      background: rgba(0, 0, 0, .35);
      border-radius: 5px;
      text-align: center;
      width: 9rem;
      .score {
        color: #feca57;
        padding: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
        span {
          color: white;
        }
        .rating {
          padding-left: 0.5rem;
        }
        .divisor {
          font-size: 1rem;
          font-weight: normal;
        }
      }
      p {
        padding: 0.5rem;
        background: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}