.content-container {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  color: #fff;

  .title-block {
    display: flex;
    justify-content: center;

    .title {
      margin: 0;
      font-size: 1.75em;
      font-weight: bold;
    }
  }

  .ratings-block {
    display: flex;
    justify-content: center;
    padding: 1.5em 0;

    .rating-block {
      text-align: center;

      &:first-child {
        border-right: 1px solid #444;
        padding-right: 1em;
      }

      &:last-child {
        padding-left: 1em;
      }

      .score {
        color: #feca57;

        span {
          color: #fff;
        }

        .rating {
          font-size: 1.1em;
          font-weight: 500;
          color: #feca57;
        }

        .divisor {
          font-size: 0.85em;
          font-weight: normal;
        }
      }
    }
  }

  .buttons-block {
    display: flex;
    justify-content: center;

    .button {
      padding: 0.5em 1em;
      background: rgba(255, 255, 255, 0.1);
      font-size: 0.85em;
      border-radius: 3px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1em;
      }

      .icon {
        padding-right: 0.25em;
      }
    }

    .favorites-button {
      .active {
        color: #f06060;
      }
    }

    .bookmark-button {
      .active {
        color: #54a0ff;
      }
    }

    .review-button {
      .active {
        color: #2ed573;
      }
    }
  }
}

@media only screen and (min-width: 800px) {
  .content-container {
    padding: 0;
    margin-top: 0;

    .title-block {
      justify-content: flex-start;
    }

    .buttons-block {
      justify-content: flex-start;
    }

    .ratings-block {
      justify-content: flex-start;

      .rating-block {
        .score {
          .icon {
            font-size: 1.5em;
          }

          .rating {
            font-size: 1.5em;
          }

          .divisor {
            font-size: 0.9em;
            padding-left: 0.25em;
          }
        }
      }
    }

    .description-block {
      background: transparent;
      color: #fff;
      padding: 0;
      margin-top: 1em;

      .title {
        display: none;
      }

      .info-block { 
        .cert {
          border: 1px solid rgba(255, 255, 255, 0.15);
          color: #fff;
        }
      }

      .genre-block {
        padding-top: 0.25em;

        .genre-list {    
          li {
            border: 1px solid rgba(255, 255, 255, 0.15);

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}