@mixin multiLineEllipsis($lineHeight: 1em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    background: $bgColor;
  }
  
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.content-container {
  width: 100%;
  z-index: 1;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  padding: 1em 0 0;

  .title-block {
    .title {
      margin: 0;
      font-size: 1.75em;
      font-weight: bold;
    }
  }

  .ratings-block {
    display: flex;
    justify-content: center;
    padding-top: 1em;

    .rating-block {
      text-align: center;

      &:first-child {
        border-right: 1px solid #444;
        padding-right: 1em;
      }

      &:last-child {
        padding-left: 1em;
      }

      .score {
        color: #feca57;

        span {
          color: #fff;
        }

        .rating {
          font-size: 1.1em;
          font-weight: 500;
          color: #feca57;
        }

        .divisor {
          font-size: 0.85em;
          font-weight: normal;
        }
      }
    }
  }

  .buttons-block {
    display: flex;
    justify-content: center;
    padding-top: 1.5em;

    .button {
      padding: 0.5em 1em;
      background: rgba(255, 255, 255, 0.1);
      font-size: 0.85em;
      border-radius: 3px;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 1em;
      }

      .icon {
        padding-right: 0.25em;
      }
    }

    .favorite-button {
      .active {
        color: #f06060;
      }
    }

    .bookmark-button {
      .active {
        color: #54a0ff;
      }
    }

    .review-button {
      .active {
        color: #2ed573;
      }
    }
  }

  .description-block {
    background: #fff;
    color: #444;
    text-align: left;
    padding: 1em;
    margin-top: 3em;

    .title {
      font-size: 1.25rem;
      font-weight: bold;
      text-transform: capitalize;
      margin: 0;
      padding-bottom: 0.5em;
    }

    .info-block {
      font-size: 0.8rem;
  
      div {
        display: inline-block;
        padding-right: 1rem;
      }
      
      .cert {
        border: 1px solid rgba(0, 0, 0, 0.25);
        color: #444;
        padding: 0.25em 0.5rem;
        margin-right: 1rem;
        border-radius: 3px;
      }
    }

    .genre-block {
      .genre-list {
        list-style: none;
        padding: 0;
  
        li {
          display: inline;
          font-size: 0.9rem;
          padding: 0.25rem 0.5rem;
          border-radius: 3px;
          cursor: pointer;
          border: 1px solid rgba(0, 0, 0, 0.25);
  
          &:not(:last-child) {
            margin-right: 0.5rem;
          }
  
          a {
            text-decoration: none;
            color: #444;
          }
        }
      }
    }

    .text {
      text-align: justify;
      // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 4, $bgColor: white); 
    }
  }
}

@media only screen and (min-width: 800px) {
  .content-container {
    width: 500px;
    padding: 2em 0;

    .buttons-block {
      justify-content: flex-start;
      padding-top: 0em;
    }

    .ratings-block {
      background: transparent;
      color: #fff;
      padding: 1.5em 0;
      justify-content: flex-start;
      border-radius: 5px;

      .rating-block {
        .score {
          .icon {
            font-size: 1.5em;
          }

          .rating {
            font-size: 1.5em;
          }

          .divisor {
            font-size: 0.9em;
            padding-left: 0.25em;
          }
        }
      }
    }

    .description-block {
      background: transparent;
      color: #fff;
      padding: 0;
      margin-top: 1em;

      .title {
        display: none;
      }

      .info-block { 
        .cert {
          border: 1px solid rgba(255, 255, 255, 0.15);
          color: #fff;
        }
      }

      .genre-block {
        padding-top: 0.25em;

        .genre-list {    
          li {
            border: 1px solid rgba(255, 255, 255, 0.15);

            a {
              color: #fff;
            }
          }
        }
      }

      .text {
        // @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 4, $bgColor: transparent); 
      }
    }
  }
}